body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px -1px 10px violet;
    display: flex;
    justify-content: space-around;
    background-color: black;
}
h2 {
    text-align: center;
    font-family: cursive;
    color: violet;
    font-size: 23px;
    text-shadow: 2px 0px 13px violet;
    cursor: pointer;
}

label {
    font-size: larger;
    display: block;
    font-family: cursive;
    color: white;
}
label:hover{
    font-size: 20px;
 }

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: cursive;
    font-weight: bold;
}

#year {
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
    color: black;
    background-color: #fff;
}

#year:hover {
    background-color: green;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(136, 35, 136);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

#logo {
    width: 300px;
    height: 200px;
    position: relative;
    top: 290px;
    aspect-ratio: 1 / 1;
    margin-right:30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px -1px 10px violet;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: cursive;
    font-weight: bold;
    background-color:whitesmoke;
}

option{
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    color: black;
    background-color: rgb(226, 204, 226);
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(136, 35, 136);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}


#logoimg{
   margin:9px -2px 29px 12px ;
}

#logo {
    width: 300px;
    height: 200px;
    position: relative;
    top: 220px;
    border-radius: 50px;
    box-shadow: 0px -1px 20px violet;
    padding: 20px;
}